* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime';
    list-style: none;
}

html, body{
    max-width: 100%;
}

/*html {
    min-width: 100vh;
    max-width: 100vw;
}

body {
    position: relative;
    padding-bottom: 0px;
    min-height: 100vh;
    max-width: 100vw;
}*/

.navbar li .nav-link {
    background-color: #F27329;
    border-radius: 32px;
    margin-right: 10px;
    width: 110px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link-carrito {
    padding-right: 20px;
}
.navbar li a:hover , .nav-link-carrito img:hover{
    transform: scale(1.1);
    color: aliceblue;
    cursor: pointer;
}

header {
    min-height: 15vh;
}

.navbar,
.footer {
    height: 15vh;
}

/*Agregandoles estilo al navbar*/
nav {
    background: linear-gradient(180deg, rgba(89.48, 158.12, 173.19, 0.60) 0%, rgba(250.75, 221.08, 176.57, 0) 100%);
}

nav ul {
    text-align: center;/*centrando los elementos de la lista desordenada*/
}

.navbar-collapse {
    justify-content: space-between;
}
.navbar-collapse ul li{
    margin-bottom: 5px;
    z-index: 1;
}
/*Fin estilos navbar*/

/*Estilos container*/
    .container{
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .container .imagen_empresa img{
        width: 400px;
        padding: 5px;
        border-radius: 8%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
    }

    .container .imagen_empresa img:hover{
        transform: scale(1.1);
        transition: transform 1s;
    }

    .container .informacion{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
/*Fin estilos container*/


/*ESTILOS PARA EL MAIN*/
.main {

    max-width: 100%;
    min-height: 70vh;
}
/*Fin estilos main*/

/*Estilos para el footer*/
.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
}
.footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(37.52, 120.06, 120.06, 0) 0%, rgba(89, 158, 173, 0.85) 100%);
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    padding-top: 1em;
}

.footer .contactanos {
    margin-left: 20px;
}

.footer .contactanos h1 {
    font-weight: bold;
    font-size: 30px;
}

.footer .contactanos p a {
    color: blue;
}

.footer .redes img {
    width: 64px;
    margin-right: 20px;
}

.footer .footer-logo img {
    width: 200px;
}

/*fin de estilos del footer*/


/*Responsive movil*/

@media (max-width: 390px),
(max-width:430px) {

    .navbar-brand img {
        display: none;
    }

    .navbar-toggler{
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .main{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
        min-height: 70vh;
    }

    .main .container{
        width: 100%;
    }
    /*fin productos*/

    /*diseño responsive para .container*/

    .container .informacion .parrafo{
        font-size: 15px;
    }

    .container .informacion {
        max-width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .container .imagen_empresa img {
        width: 80%;
    }

    .container .imagen_empresa{
        text-align: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 100%;
        position: relative;
    }

    .desenfocado {
		filter: blur(10px);
		/* Agrega un desenfoque al contenedor cuando la clase está presente */
		/* Otros estilos que desees aplicar cuando el menú está colapsado */
	}
    /*Fin diseño container*/

    .main{
        position: relative;
        width: 100%;
    }

    .navbar {
        height: 15vh;
    }


    /*Diseño responsive footer*/
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .footer {
        height: 30vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        justify-content: center;
        height: auto;
        padding-top: 1em;
    }

    .footer .contactanos {
        margin-left: 10px;
    }

    .footer .contactanos h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .footer .contactanos p a {
        color: blue;
    }

    .footer .redes img {
        margin-right: 20px;
        width: 45px;
        height: auto;
    }

    .footer .footer-logo img {
        margin-top: 20px;
        width: 150px;
    }

    body{
        position: absolute;
        right: 0;
    }
    html{
        position: relative;
    }
}
