@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@200&family=Roboto+Slab:wght@300&family=Trocchi&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    list-style: none;
}

body{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 15vh;
}

.navbar,
.footer {
    height: 15vh;
}

/*Agregandoles estilo al navbar*/
#enlaces_nav li .nav-link {
    background-color: #F27329;
    border-radius: 32px;
    margin-right: 10px;
    width: 110px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link-carrito {
    padding-right: 20px;
}

#enlaces_nav li a:hover,
.nav-link-carrito img:hover {
    transform: scale(1.1);
    color: aliceblue;
    cursor: pointer;
}

.header {
    min-height: 15vh;
}

#enlaces_nav,
.footer {
    height: 15vh;
}

#enlaces_nav {
    background: linear-gradient(180deg, rgba(89.48, 158.12, 173.19, 0.60) 0%, rgba(250.75, 221.08, 176.57, 0) 100%);

}

#enlaces_nav ul {
    text-align: center;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-collapse ul li {
    margin-bottom: 5px;
    z-index: 1;
}
/*Fin estilos navbar*/

/*Estilos container*/
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container .producto{
        padding-top: 30px;
        text-align: center;
        border-bottom: solid 1px #0c0c0c;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container .producto .informacion_producto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .container .producto .link_producto img{
        border-radius: 8%;
        width: 300px;
    }
    .container .producto .link_producto img:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    }

    .container .producto .informacion_producto .nombre_producto{
        font-size: 20px;
        font-weight: bold;
    }
    .container .producto .informacion_producto .precio_producto{
        font-size: 30px;
        font-weight: bold;
    }

    .container .producto .informacion_producto .especs_carrito{

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
    }
/*Fin estilos container*/


/*ESTILOS PARA EL MAIN*/
.main {

    max-width: 100%;
    min-height: 70vh;
}
/*Fin estilos main*/

/*-------------------------------------------*/
/* POPUP */
/*-------------------------------------------*/


.overlay_especs{
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay_especs.active{
    visibility: visible;
}

.popup_especs{
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
    max-width: 50%;
    transition: .3 ease all;
    max-height: 40%;
    transform: scale(0.1);
    overflow: auto;
    padding: 20px;

}

.popup_especs h3{
    opacity: 0;
    padding-right: 20px;
}

.popup_especs p{
    opacity: 0;
}

.btn-abrir-popup-especs{
    background-color: transparent;
    border: none;
    outline: none;
    transition: .4s ease all;
}

.btn-abrir-popup-especs:hover{
    transform: scale(1.1);
}

.especs_carrito a img{
    transition: .8 ease all;
}

.especs_carrito a img:hover{
    transform: scale(1.1);
}


.popup_especs .btn-cerrar-popup-especs{
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #BBBBBB;
    border: none;
    outline: none;
    background-color: transparent;
    transition: .3s ease all;

}

.popup_especs .btn-cerrar-popup-especs i{
    padding-left: 30px;
}


.popup_especs .btn-cerrar-popup-especs:hover{
    color: #000;
}

/*-------------------------------------------*/
/* ANIMACIONES */
/*-------------------------------------------*/

.popup_especs.active{
    opacity: 1;
    transform: scale(1);
}

.popup_especs.active h3{
    animation: entratitulo .8s ease .5s forwards;
}

.popup_especs.active p{
    animation: entradescripcion .8s ease .5s forwards;
}

@keyframes entradescripcion{
    from{
        opacity: 0;
        transform: translateY(50px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes entratitulo{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*-------------------------------------------*/

/*Estilos para el footer*/
.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
}
.footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(37.52, 120.06, 120.06, 0) 0%, rgba(89, 158, 173, 0.85) 100%);
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    padding-top: 1em;
}

.footer .contactanos {
    margin-left: 20px;
}

.footer .contactanos h1 {
    font-weight: bold;
    font-size: 30px;
}

.footer .contactanos p a {
    color: blue;
}

.footer .redes img {
    width: 64px;
    margin-right: 20px;
}

.footer .footer-logo img {
    width: 200px;
}

/*fin de estilos del footer*/


/*Responsive movil*/

@media (max-width: 390px),
(max-width:430px) {

    .main {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
        min-height: 70vh;
    }

    .navbar-toggler{
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar-brand img {
        display: none;
    }

    .main .container{
        width: 100%;
    }


    /*diseño responsive para .container*/

    .container .informacion .parrafo{
        font-size: 15px;
    }

    .container .informacion {
        max-width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .container .imagen_empresa img {
        width: 80%;
    }

    .container .imagen_empresa{
        text-align: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 100%;
        position: relative;
    }

    .navbar-brand img {
        display: none;
    }

    .desenfocado {
		filter: blur(10px);
		/* Agrega un desenfoque al contenedor cuando la clase está presente */
		/* Otros estilos que desees aplicar cuando el menú está colapsado */
	}
    /*Fin diseño container*/

    .main{
        position: relative;
        width: 100%;
    }

    .navbar {
        height: 15vh;
    }

    .popup_especs{
        max-width: 80%;
    }


    /*Diseño responsive footer*/
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .footer {
        height: 30vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        justify-content: center;
        height: auto;
        padding-top: 1em;
    }

    .footer .contactanos {
        margin-left: 10px;
    }

    .footer .contactanos h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .footer .contactanos p a {
        color: blue;
    }

    .footer .redes img {
        margin-right: 20px;
        width: 45px;
        height: auto;
    }

    .footer .footer-logo img {
        margin-top: 20px;
        width: 150px;
    }

    body{
        position: absolute;
        right: 0;
    }
    html{
        position: relative;
    }
}
